<div class="container-create-penyelenggara">
  <h5>Penyelenggara</h5>
  <div class="">
    <div class="card">
      <div class="card-body">
        <form
          class="formDokumen"
          (ngSubmit)="f.form.valid && sendData()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="exampleFormControlInput1"> Judul</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              name="judul"
              [(ngModel)]="data.judul"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Poster</label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="customFile"
                accept=".jpg"
                (change)="onFileSelect($event)"
              />
              <label class="custom-file-label" for="customFile">{{
                fileName
              }}</label>
            </div>
          </div>
          <div class="form-group">
            <div class="center-item border preview">
              <div style="background-color: #8e949a">
                <img
                  id="imagePreview"
                  [src]="imageSrc || 'http://placehold.it/180'"
                  alt="your image"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1"> Deskripsi</label>
            <textarea
              class="form-control"
              rows="3"
              id="deksripsi"
              name="deskripsi"
              [(ngModel)]="data.deskripsi"
            ></textarea>
          </div>
          <div class="row">
            <div class="form-group col-auto">
              <label for="exampleFormControlInput1"> Tanggal Mulai</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [(ngModel)]="data.startDate"
                  ngbDatepicker
                  #dateStart="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="dateStart.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group col-auto">
              <label for="exampleFormControlInput1"> Tanggal Akhir</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [(ngModel)]="data.endDate"
                  ngbDatepicker
                  #dateEnd="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="dateEnd.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-auto">
              <label for="exampleFormControlInput1">Waktu Mulai</label>
              <div ngbDropdown>
                <button
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Pilih jam awal
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <timepicker [(ngModel)]="startTime" name="time"></timepicker>
                </div>
              </div>
            </div>
            <div class="form-group col-auto">
              <label for="exampleFormControlInput1">Waktu Akhir</label>
              <div ngbDropdown>
                <button
                  class="btn btn-outline-primary"
                  id="dropdownBasic2"
                  ngbDropdownToggle
                >
                  Pilih jam akhir
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <timepicker [(ngModel)]="endTime" name="time"></timepicker>
                </div>
              </div>
            </div>
            <div class="form-group col-auto">
              <label for="exampleFormControlInput1"></label>
              <input
                type="text"
                class="form-control"
                id="tempat"
                name="tempat"
                [(ngModel)]="time"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Tempat</label>
            <input
              type="text"
              class="form-control"
              id="tempat"
              name="tempat"
              [(ngModel)]="data.tempat"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Link</label>
            <input
              type="text"
              class="form-control"
              id="tempat"
              name="link"
              [(ngModel)]="data.link"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Catatan</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              name="catatan"
              [(ngModel)]="data.catatan"
            ></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary mr-2">
              Kembali
            </button>
            <button type="submit" class="btn btn-warning text-white">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
></ngx-loading>
