<div  class="container-beranda">
    <div class="container-banner">
        <div class="banner row">
            <div class="col-4 offset-1 d-flex align-items-start flex-column">
                <div class="app-name">
                    <span class="text">SIMeT APPI</span>
                </div>
                <div class="app-name-desc">
                    <span class="text">Sistem Informasi Manajemen e-Training <br>Aplikasi Perma Pendis Indonesia </span>
                </div>
                <div class="button-container row">
                    <button class="btn-custom btn btn-outline-warning col-4 offset-2 ">Login</button>
                    <button class="btn-custom btn btn-warning text-white col-4">Daftar</button>
                </div>
                <div class="mt-auto hashtag-container">
                    <span class="text">#Tetap sehat, tetap produktif</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mitra">
        <span class="text ">Mitra Kami</span>
    </div>
    <div class="container-mitra ">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-4">
    
                    <div class="card custom-card">
                        <div class="header">
                            <img src="assets/img/Kemenag Pangandaran.jpg" class="img-mitra" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title-card">Kemenag Kab. Pangandaran</h5>
                        </div>
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="card custom-card" >
                        <div class="header">
                            <img src="assets/img/Mitra Uniska.png" class="img-mitra" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title-card">Universitas Singaperbangsa Karawang</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-webinar">
        <div class="container">
            <div class="row justify-content-between header-webinar">
                <span class="col-3 text">Webinar Terbaru</span>
                <div class="col-3 text-end">
                    <button class=" btn btn-warning text-white ">Lihat Semua ></button>
                </div>
            </div>
            <div class="row align-items-center justify-content-around container-card pl-4 pr-4 ">
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/webinar 2.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/webinar.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/Webinar1.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-counter ">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col card" >
                    <h4 class="title">Penyelenggara</h4>
                    <div class="card-body">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <h5 class="card-title title-card">
                            22
                        </h5>
                    </div>
                </div>
                <div class="col card" >
                    <h4 class="title">Instruktur</h4>
                    <div class="card-body">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h5 class="card-title title-card">
                            50
                        </h5>
                    </div>
                </div>
                <div class="col card" >
                    <h4 class="title">Peserta</h4>
                    <div class="card-body">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h5 class="card-title title-card">
                            23100
                        </h5>
                    </div>
                </div>
                <div class="col card" >
                    <h4 class="title">Peserta</h4>
                    <div class="card-body">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h5 class="card-title title-card">
                            1000
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-testimoni ">
        <div class="container">
            <div class="container-title">
                <h3 class="title">Apa Kata Mereka</h3>
            </div>
            <br>
            <div class="row align-items-center justify-content-around">
                <div class="col-3 card" >
                    <div class="card-body">
                        <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iusto aperiam officia hic aliquam. Officiis architecto odit minima sapiente molestias nisi? Neque maxime voluptatum a voluptatibus, aliquid inventore eligendi magni?</p>
                        <h5 class="card-title title-card">
                            - Adinasti -
                        </h5>
                        <h5>
                            Mahasiswa Upi
                        </h5>
                    </div>
                </div>
                <div class="col-3 card" >
                    <div class="card-body">
                        <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iusto aperiam officia hic aliquam. Officiis architecto odit minima sapiente molestias nisi? Neque maxime voluptatum a voluptatibus, aliquid inventore eligendi magni?</p>
                        <h5 class="card-title title-card">
                            - Adinasti -
                        </h5>
                        <h5>
                            Mahasiswa Upi
                        </h5>
                    </div>
                </div>
                <div class="col-3 card" >
                    <div class="card-body">
                        <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iusto aperiam officia hic aliquam. Officiis architecto odit minima sapiente molestias nisi? Neque maxime voluptatum a voluptatibus, aliquid inventore eligendi magni?</p>
                        <h5 class="card-title title-card">
                            - Adinasti -
                        </h5>
                        <h5>
                            Mahasiswa Upi
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>