<div class="container-fluid container-title">
    <div class="title-container">
        <span class="text ">Tentang Kami</span>
    </div>
</div>
<div class="container-about container py-5">
    <div class="row mb-5 justify-content-around">
        <div class="col-6">
            <p style="font-size: 16pt;"> <span style="font-size: larger; color: #92CD36;">PERMA PENDIS</span> adalah organisasi perkumpulan Profesi di bawah Perkumpulan Program Studi Manajemen Pendidikan Islam (PPMPI) sebagai wadah berhimpunnya manajer dalam bidang manajerial Pendidikan Islam, yang berpegang teguh pada Kode Etik Manajer Pendidikan Islam Indonesia. </p>
        </div>
        <div class="col-4">
            <img src="assets/img/brand/Permapendis-com.png" width="100%" height="300" class="img-webinar" alt="">
        </div>
    </div>
    <div class="row mb-5 justify-content-around">
        <div class="col-2">
            <img src="assets/img/brand/permapendis.png" width="100%" height="200" class="img-webinar" alt="">
        </div>
        <div class="col-8">
            <h4 style="color: #92CD36;">Ketua Umum</h4>
            <br>
            <h4>Dr. H. Badrudin, M.Ag.</h4>
        </div>
    </div>
    <div class="row mb-5 justify-content-around">
        <div class="col-8" style="text-align: end;">
            <h4 style="color: #92CD36;">Sekretaris Umum</h4>
            <br>
            <h4>H. Abdullah Aminunddin M.PdI</h4>
        </div>
        <br/>
        <div class="col-2">
            <img src="assets/img/brand/permapendis.png" width="100%" height="200" class="img-webinar" alt="">
        </div>
    </div>
    <h4 style="color: #92CD36;">SK Pengukuhan PERMA PENDIS</h4>
    <div id="pdf-viewer-container"  style="width:100%; height: 400px; background-color: #8e949a;" >
        <pdf-viewer [src]="pdfUrl"[show-borders]="true"  [fit-to-page]="false" [original-size]="false"></pdf-viewer>
    </div>
</div>