.container-beranda{
    .search-container{
        .button-search{
            padding: 0 36px;
        }
    }
    .list-webinar{
        .img-webinar{
            object-fit: cover;
            object-position: top;
        }
        .card{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 90%;
            .card-header{
                padding: 0;
                .img-beranda{
                    object-fit: cover;
                    object-position: top;
                }
            }
            .card-body{
                .fa{
                    color: #7AC800;
                }
                .text{
                    color: #7A7A7A;
                }
                .text-harga{
                    font-weight: bold;
                }
            }
        }
        .container-status-webinar{
            display: flex;
            flex-direction: column;
            padding-right: 0;
            .status-webinar{
                .text-status{
                    background-color: #F8F853;
                    padding: 10px 8px;
                    border-radius: 4px;
                }
                flex-grow:12;
            }
        }
    }
    .container-beranda-done{
        width: 100%;
        padding:32px 32px;
        margin:0;
        .container{
            margin: 0;
            max-width: 100vw  !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                width: 100%;
                padding: 16px;
                .title-beranda{
                    font-size: larger;
                    font-weight: bold;
                }
                .date-beranda{
                    color: #F95959;
                }
                .place-beranda{
                    color: #7A7A7A;
                }
                .icon-arrow{
                    font-size: 20px;
                    color: #7AC800;
                }
            }
        }
        .header-beranda{
            padding: 16px 64px;
            .text{
                font-size: 32px;
                color: #7AC800;
            }
        }
        
    }
    .aside-container{
        min-height: 320px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}