#imageKTP{
    height: 100%;
    width: 100%;
}
.preview{
    text-align: center;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.center-item{
    justify-content: center;
    text-align: center;
}