<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Permapendis-com.png', width: 150, height: 64, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/beranda" routerLinkActive="active">Beranda</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link"  routerLink="/tentang-kami" routerLinkActive="active" >Tentang Kami</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link"  routerLink="/webinar" routerLinkActive="active" >Webinar</a>
    </li>
    <li class="nav-item px-3">  
      <a class="nav-link" routerLink="/penyelenggara" routerLinkActive="active" >Penyelenggara</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/kontak" routerLinkActive="active" >Kontak</a>
    </li>
    <li class="nav-item px-3">
      <button class="btn btn-warning text-white" (click)="loginSubmit()">Login</button>
    </li>
  </ul>
  <!-- <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
    </li>
  </ul> -->
</app-header>
<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <div class="footer px-5 pt-5 pb-2">
    <div class="identity-container">
      <div class="row">
        <div class="col-5 ">
          <span class="title mb-2"> <u>Alamat</u> </span>
          <br>
          <span class="alamat">Fakultas Tarbiyah dan Keguruan UIN SUNAN GUNUNG DJATI Bandung Lt.3 Prodi MPI, JL. Soekarno Hatta RW.03 Kel. Cimincrang Kec.Gedebage Kota Bandung.</span>
        </div>
        <div class="col-5 offset-md-2">
          <span class="title mb-2"><u>Link</u></span>
          <br>
          <dl>
            <dt class="text">Tentang Kami</dt>
            <dt class="text">Webinar</dt>
            <dt class="text">Penyelenggara</dt>
            <dt class="text">Sertifikat</dt>
          </dl>
        </div>
      </div>
    </div>
    <hr class="line">
    <div class="footnote">
      <span class="note">2021 . Provided by Angwar</span>
    </div>
  </div>
  
</app-footer>
