<div class="container-admin">
    <h5>Transaksi</h5>
    <br>
    <div class="card">
        <div class="card-header">
          Daftar Transaksi
        </div>
        <div class="card-body">
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Nama User</th>
                    <th scope="col">Jumlah Tiket</th>
                    <th scope="col">Kode Schedule</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>

                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Andi</td>
                        <td >2</td>
                        <td>MPP2021</td>
                        <td>Menunggu Konfirmasi</td>
                        <td class="center-item"> 
                            <div class="container">
                                <div class="row  flex-nowrap">
                                  <div class="col-4 px-1" >
                                      <button type="button" class="btn btn-block btn-danger " >
                                          Hapus
                                      </button>
                                    </div>
                                  <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-info btn-block" >
                                        Edit
                                    </button>
                                  </div>
                                  <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-success btn-block" >
                                        Lihat
                                    </button>
                                  </div>
                                </div>
                              </div>
                          </td>
                    </tr>   
                    <tr>
                        <td >Agung</td>
                        <td >2</td>
                        <td>MPP2021</td>
                        <td>Menunggu Konfirmasi</td>
                        <td class="center-item"> 
                            <div class="container">
                              <div class="row  flex-nowrap">
                                <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-block btn-danger " >
                                        Hapus
                                    </button>
                                  </div>
                                <div class="col-4 px-1" >
                                  <button type="button" class="btn btn-info btn-block" >
                                      Edit
                                  </button>
                                </div>
                                <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-success btn-block" >
                                        Lihat
                                    </button>
                                  </div>
                              </div>
                            </div>
                          </td>
                    </tr>   
                </tbody>
              </table>
        </div>
      </div>
</div>