
<div class="container-kontak">
    <div class="container-title">
        <div class="title">
            <span class="title-text">Kontak</span>
        </div>
    </div>
    <div class="container-info">
        <div class="container">
            <div class="row justify-content-center box-info">
                <div class="col-4 info">
                    <span class="title mb-2"> <u>Alamat</u> </span>
                    <br>
                    <span class="alamat">Fakultas Tarbiyah dan Keguruan UIN SUNAN GUNUNG DJATI Bandung Lt.3 Prodi MPI, JL. Soekarno Hatta RW.03 Kel. Cimincrang Kec.Gedebage Kota Bandung.</span>
                </div>
                <div class="col-4 img">
                    <img src="assets/img/map uin.PNG" class="img-kontak" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

