<div class="container-webinar">
    <div class="search-container">
        <div class="input-group mb-6 mt-6 input-group-lg">
            <input type="text" class="form-control" placeholder="Cari Webinar" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-warning button-search" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
    </div>
    <div class="container-webinar-new">
        <div class="container">
            <div class="row justify-content-between header-webinar">
                <span class="text">Terbaru</span>
            </div>
            <div class="row container-card pl-4 pr-4 ">
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/webinar 2.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/webinar.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/Webinar1.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between header-webinar">
                <span class="text">Sedang Berlangsung</span>
            </div>
            <div class="row container-card pl-4 pr-4 ">
                <div class="col-4 d-flex justify-content-center">
                    <div class=" card" >
                        <div class="card-header">
                            <img src="assets/img/webinar 2.jpeg" width="100%" height="240" class="img-webinar" alt="">
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="mb-2">
                                    <span>Analisis Data Kuantitatif dengan SPSS dan Lisrel (SEM)</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="text">25 Januari 2021 - 26 Januari 2021</span>
                                </dt>
                                <dt>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>  <span class="text">08:00 - 12:00</span> 
                                </dt>
                                <dt>
                                    <i class="fa fa-link" aria-hidden="true"></i>     <span class="text">Live by Zoom</span>
                                </dt>
                            </dl>
                            <div class="row justify-content-between">
                                <div class="col">
                                    <span class="text-harga">RP. 150.000</span>
                                </div>
                                <div class="col-4 text-end" >
                                    <button class="btn btn-warning text-white btn-block">Beli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-webinar-done">
        <div class="container">
            <div class="row justify-content-between header-webinar">
                <span class="text">Terlaksana</span>
            </div>
            <div *ngFor="let item of daftarWebinarTerlaksana; let i = index">
                <div class="card ">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <img src="assets/img/brand/permapendis.png" class="img-logo" height="100%" width="60" alt="">
                        </div>
                        <div class="col-5">
                            <span class="title-webinar">Pemanfaatan media untuk kebudayaan</span>
                            <br/>
                            <span class="date-webinar">9 Januari 2021 - 10 Januari . 08.00 - 12.00</span>
                            <br/>
                            <span class="place-webinar">Live by Zoom</span>
                        </div>
                        <div class="1 offset-5">
                            <i class="fa fa-chevron-right icon-arrow " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-info btn-lg"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
