<div class="container-penyelenggara">
    <h5>Penyelenggara</h5>
    <div class="container">
        <div class="row ">
            <div class="col-4  offset-8 text-end p-0">
                <button  class="btn btn-warning btn-lg" (click)="createPenyelenggara()">Tambah Penyelenggara</button>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
          Daftar Penyelenggara
        </div>
        <div class="card-body">
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Email</th>
                    <th scope="col">No. Handphone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemPenyelenggara">
                    <td>{{item.nama_penyelenggara}}</td>
                    <td>{{item.email_penyelenggara}}</td>
                    <td>{{ item.hp_penyelenggara }}</td>
                    <td>{{ item.status }}</td>
                    <td class="center-item"> 
                      <div class="container">
                          <div class="row  flex-nowrap">
                            <div class="col-6 px-1" >
                                <button type="button" class="btn btn-block btn-danger "  (click)="deletePenyelenggara(item)">
                                    Hapus
                                </button>
                              </div>
                            <div class="col-6 px-1" >
                              <button type="button" class="btn btn-info btn-block" (click)="updatePenyelenggara(item)">
                                  Edit
                              </button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
</div>