<div class="container-detail px-5">
    <div class="container-fluid">
        <div class="container-title mb-4">
            <h3>Kelas Virtual Karya Tulis Ilmiah #2</h3>
        </div>
        <div>
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="card" style="width: 100%; min-height: fit-content;">
                        <img src="assets/img/webinar.jpeg" class="img-webinar" alt="">
                      
                        <div class="card-body">
                          <p class="card-text">
                            Kelas Virtual Karya Tulis Ilmiah #2 akan membahas lorem ipsum dolor sit amet Kelas Virtual Karya Tulis Ilmiah #2 akan membahas lorem ipsum dolor sit amet Kelas Virtual Karya Tulis Ilmiah #2 akan membahas lorem ipsum dolor sit amet
                          </p>
                          <div class="info-webinar mb-5">
                            <div class="row mb-2">
                                <span class="col-2">
                                    Tanggal :
                                </span>
                                <span class="col-10">
                                    1 Februari 2021 - 2 Februari 2021
                                </span> 
                            </div>
                            <div class="row mb-2">
                                <span class="col-2">
                                    Waktu :
                                </span>
                                <span class="col-10">
                                    08:00 - 12:00
                                </span> 
                            </div>
                            <div class="row">
                                <span class="col-2">
                                    Tempat :
                                </span>
                                <span class="col-10">
                                    Zoom Meeting
                                </span> 
                                <div class="w-100"></div>
                                <span class="col-10 offset-2">
                                    <a href="#" role="button">https://us02web.zoom.us/postattendee?id</a>
                                </span>
                            </div>
                          </div>
                          <p class="card-text mb-0">
                            Harap peserta masuk 15 menit lebih awal,
                          </p>
                          <br>
                          <p class="card-text mb-0">Terima kasih</p>
                          <p class="card-text mb-0">Panitia Permapendis</p>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="aside-container">
                        <h4 style="font-weight: bold;">
                            Materi
                        </h4>
                        <dl>
                            <dt>
                                <a href="#" role="button">Link Materi 1</a>
                            </dt>
                            <dt>
                                <a href="#" role="button">Link Materi 2</a>
                            </dt>
                            <dt>
                                <a href="#" role="button">Link Materi 3</a>
                            </dt>
                        </dl>
                        <button type="button" class="btn btn-warning btn-block text-white" >Download Semua Materi</button>
                        <hr>
                        <h4 style="font-weight: bold;">
                            materi
                        </h4>
                        <br>
                        <button type="button" class="btn btn-warning btn-block text-white" >Download Sertifikat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
