<div class="container-admin">
    <h5>Penyelenggara</h5>
    <div class="container">
        <div class="row ">
            <div class="col-4  offset-8 text-end p-0">
                <button  class="btn btn-warning btn-lg" >Tambah Penyelenggara</button>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
          Daftar Penyelenggara
        </div>
        <div class="card-body">
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Email</th>
                    <th scope="col">No. Handphone</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Andi</td>
                        <td >Andi@penyelenggara.com</td>
                        <td>08123456789</td>
                        <td class="center-item"> 
                            <div class="container">
                                <div class="row  flex-nowrap">
                                  <div class="col-4 px-1" >
                                      <button type="button" class="btn btn-block btn-danger " >
                                          Hapus
                                      </button>
                                    </div>
                                  <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-info btn-block" >
                                        Edit
                                    </button>
                                  </div>
                                </div>
                              </div>
                          </td>
                    </tr>   
                    <tr>
                        <td >Agung</td>
                        <td >Agung@penyelenggara.com</td>
                        <td>08123456789</td>
                        <td class="center-item"> 
                            <div class="container">
                              <div class="row  flex-nowrap">
                                <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-block btn-danger " >
                                        Hapus
                                    </button>
                                  </div>
                                <div class="col-4 px-1" >
                                  <button type="button" class="btn btn-info btn-block" >
                                      Edit
                                  </button>
                                </div>
                              </div>
                            </div>
                          </td>
                    </tr>   
                </tbody>
              </table>
        </div>
      </div>
</div>