<div class="animated fadeIn">
    <h3 >Dashboard</h3>
    <br>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                  Laporan Transaksi
                </div>
                <div class="card-body">
                    <table class="table ">
                        <thead>
                          <tr>
                            <th scope="col">Nama User</th>
                            <th scope="col">Jumlah Tiket</th>
                            <th scope="col">Schedule</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >Test</td>
                                <td >1</td>
                                <td>MP1234</td>
                                <td>Terkonfirmasi</td>
                            </tr>   
                        </tbody>
                      </table>
                </div>
              </div>
        </div>
        <div class="col-5 row">
            <div class="col-6">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <div class="text-value">20</div>
                  <div>Penyelenggara</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-6">
              <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <div class="text-value">100</div>
                  <div>Instruktur</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-6">
              <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <div class="text-value">3000</div>
                  <div>Total Peserta</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-6">
              <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                  <div class="text-value">100</div>
                  <div>Total Webinar</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                </div>
              </div>
            </div><!--/.col-->
          </div><!--/.row-->
    </div>
    <div class="card">
        <div class="card-header">
          Laporan Transaksi
        </div>
        <div class="card-body">
            <table class="table ">
                <tbody>
                    
                  <tr>
                    <td colspan="4">Test</td>
                    <td colspan="1" class="text-end">1 min ago</td>
                  </tr>
                  <tr>
                    <td colspan="4">Test</td>
                    <td colspan="1" class="text-end">1 min ago</td>
                  </tr>
                  <tr>
                    <td colspan="4">Test</td>
                    <td colspan="1" class="text-end">1 min ago</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
  </div>
  