<div class="container-penyelenggara">
    <div class="container-title">
        <div class="title">
            <span class="title-text">Penyelenggara</span>
        </div>
    </div>
    <div class="container-list-penyelenggara ">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-3 card" >
                    <div class="card-body">
                        <img src="assets/img/brand/permapendis.png" class="img-penyelenggara" alt="">
                        
                        <h5 class="mt-6">
                            PERMA PENDIS
                        </h5>
                    </div>
                </div>
                <div class="col-3 card" >
                    <div class="card-body">
                        <img src="assets/img/brand/permapendis.png" class="img-penyelenggara" alt="">
                        
                        <h5 class="mt-6">
                            LEMBAGA 1
                        </h5>
                    </div>
                </div>
                <div class="col-3 card" >
                    <div class="card-body">
                        <img src="assets/img/brand/permapendis.png" class="img-penyelenggara" alt="">
                        
                        <h5 class="mt-6">
                            LEMBAGA 2
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>