
<div class="container-admin">
    <h5>Schedule</h5>
    <br>
    <div>
        <tabset>
          <tab heading="Schedule Baru" id="tab1">
            <div class="container">
                <div class="row ">
                    <div class="col-4  offset-8 text-end p-0">
                        <button  class="btn btn-warning btn-lg" >Tambah Schedule</button>
                    </div>
                </div>
            </div>
            <br>
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Kode Schedule</th>
                    <th scope="col">Nama Webinar</th>
                    <th scope="col">Periode</th>
                    <th scope="col">Room</th>
                    <th scope="col">Aksi</th>

                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MPP2021</td>
                        <td >Seminar Kebangsaan</td>
                        <td >02/02/2021</td>
                        <td>Link Zoom Meeting</td>
                        <td class="center-item"> 
                            <div class="container">
                                <div class="row  flex-nowrap">
                                  <div class="col-4 px-1" >
                                      <button type="button" class="btn btn-block btn-danger " >
                                          Hapus
                                      </button>
                                    </div>
                                  <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-info btn-block" >
                                        Edit
                                    </button>
                                  </div>
                                  <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-success btn-block" >
                                        Lihat
                                    </button>
                                  </div>
                                </div>
                              </div>
                          </td>
                    </tr>   
                    <tr>
                        <td>MPP2021</td>
                        <td >Seminar Kebangsaan</td>
                        <td >02/02/2021</td>
                        <td>Link Zoom Meeting</td>
                        <td class="center-item"> 
                            <div class="container">
                              <div class="row  flex-nowrap">
                                <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-block btn-danger " >
                                        Hapus
                                    </button>
                                  </div>
                                <div class="col-4 px-1" >
                                  <button type="button" class="btn btn-info btn-block" >
                                      Edit
                                  </button>
                                </div>
                                <div class="col-4 px-1" >
                                    <button type="button" class="btn btn-success btn-block" >
                                        Lihat
                                    </button>
                                  </div>
                              </div>
                            </div>
                          </td>
                    </tr>   
                </tbody>
              </table>
          </tab>
          <tab heading="Schedule Terlaksana">
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Kode Schedule</th>
                    <th scope="col">Nama Webinar</th>
                    <th scope="col">Periode</th>
                    <th scope="col">Room</th>
                    <th scope="col">Aksi</th>

                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MPP2021</td>
                        <td >Seminar Kebangsaan</td>
                        <td >02/02/2021</td>
                        <td>Link Zoom Meeting</td>
                        <td class="center-item"> 
                            <button type="button" class="btn btn-success " >
                                Lihat
                            </button>
                        </td>
                    </tr>   
                    <tr>
                        <td>MPP2021</td>
                        <td >Seminar Kebangsaan</td>
                        <td >02/02/2021</td>
                        <td>Link Zoom Meeting</td>
                        <td class="center-item"> 
                            <button type="button" class="btn btn-success " >
                                Lihat
                            </button>
                        </td>
                    </tr>   
                </tbody>
              </table>
          </tab>
        </tabset>
      </div>
    
</div>
